In [3]:
# pip install pyarrow

In [1]:
import geopandas as gpd
import pandas as pd
import numpy as np

In [2]:
gdf = gpd.read_parquet('gdf_novos_por_regiao.parquet')

In [3]:
geometrias = gdf[['cd_RegiaoRisco', 'geometry']].rename(columns={'cd_RegiaoRisco': 'cd_regiaorisco'})
geometrias['cd_mun'] = geometrias['cd_regiaorisco'].str[:7]
geometrias['uf'] = geometrias['cd_regiaorisco'].str[:2]
geometrias['regiao'] = geometrias['cd_regiaorisco'].str[:1]

geometrias.head()

,cd_regiaorisco,geometry,cd_mun,uf,regiao
0,520003,"POLYGON ((-49.69684 -16.47110, -49.69683 -16.4...",520003,52,5
1,520006,"POLYGON ((-48.11047 -17.44460, -48.11102 -17.4...",520006,52,5
2,520008,"POLYGON ((-48.57355 -18.32787, -48.58237 -18.3...",520008,52,5
3,520009,"POLYGON ((-49.73681 -17.74487, -49.73701 -17.7...",520009,52,5
4,5200100,"POLYGON ((-48.66064 -16.50555, -48.66071 -16.5...",5200100,52,5

In [4]:
reg_mun = geometrias[['cd_regiaorisco', 'cd_mun']].groupby('cd_mun').count().sort_values('cd_regiaorisco', ascending=False).reset_index()

municipios = reg_mun[reg_mun['cd_regiaorisco'] > 1].cd_mun.unique()

In [6]:
geometrias['macro'] = np.where(geometrias['cd_mun'].isin(municipios), geometrias['cd_mun'],
            np.where(geometrias['regiao'].isin(['1', '2', '5']), geometrias['regiao'], geometrias['uf']))

In [10]:
geometrias[['macro', 'cd_regiaorisco']].groupby('macro').count().sort_values('cd_regiaorisco', ascending=False).reset_index()

      macro  cd_regiaorisco
0         2             222
1        31             217
2        35             160
3   3550308             141
4         5             121
..      ...             ...
57  3549904               5
58  3525904               5
59  3548807               4
60  3534401               4
61  3170107               3

[62 rows x 2 columns]

In [11]:
import libpysal
import spopt

In [12]:
spopt.region.Skater

spopt.region.skater.Skater

In [14]:
from scipy.stats import norm

In [19]:
norm.ppf(.975)

1.959963984540054